@import url(https://fonts.googleapis.com/css?family=Karma);

* { margin:0; padding:0; box-sizing:border-box; }
body {
	background-color: #FFF5EB;
	color: #250C00;
	font-family: Karma, serif;
}
nav {
	font-family: Karma, serif;
	margin: 10px;
}
a {
	color: black;
	text-decoration: none;
	display: block;
	float:left;
	padding:20px;
}
.clearfix:after{
	visibility: hidden;
	display: block;
	content:" ";
	clear:both;
	height
}
a:hover {
	background-color:#FF7A1Fc7;
}

section {
	padding:5em 0;
}
ul {
	list-style-type: none;
}
label, input, textarea {
	display:block;
	width: 100%;
}
#intro {
	background:url(../images/cookbook.jpg);
	background-size:cover;
	background-repeat:no-repeat;
	background-position: bottom;
	height: 90vh;
	text-align: right;
	padding: 5em 2.5em;
}

#when {
	background:url(../images/veggies.jpg);
	background-size:cover;
	background-repeat:no-repeat;
	background-position: bottom;
	height: 90vh;
	text-align: left;
	line-height: 2em;
}
#about {
	text-align: left;
	background:url(../images/girlscooking.jpg);
	background-repeat: no-repeat;
	background-position: bottom;
}
#when h3 {
    margin-top: 1em;
}

#when div {
    float: right;
    width: 30em;
    margin-right: 8em;
    background: #FF7A1Fc7;
    color: #fff;
    padding: 2em;
    border-radius: .5em;
    box-shadow: 1px 1px 3px rgba(0,0,0,.25);
}

h1 {
    font-size: 5em;
    line-height: 1;
    color: #fff;
	text-shadow: 1px 1px 3px rgba(0,0,0,.5);
}

.who section {
	width: 300;
	margin: 40px;
	float: left;
}

.clearfix:after{
	visibility: hidden;
	height: 0;
	font-size: 0;
	content: " ";
	display: block;
	clear:both; 
	/*clear:both means clearn the content following the floats so that it sits where it's supposed ot sit on the page*/
}