@import url(https://fonts.googleapis.com/css?family=Karma);

* { margin:0; padding:0; box-sizing:border-box; }
body {
	background-color: #fbf9f3;
	color: #250C00;
	font-family: Karma, serif;
}

section {
	padding:5em 0;
}
ul {
	list-style-type: none;
}
label, input, textarea {
	display:block;
	width: 100%;
}
#intro {
	background:url(../images/cookbook.jpg);
	background-size:cover;
	background-repeat:no-repeat;
	background-position: bottom;
	height: 90vh;
	text-align: right;
}

#when {
	background:url(../images/veggies.jpg);
	background-size:cover;
	background-repeat:no-repeat;
	background-position: bottom;
	height: 90vh;
	text-align: left;
}
#about {
	text-align: center;
}
