* { margin:0; padding:0; box-sizing:border-box; }
body {
	background-color: #FFFAF9;
	color: #250C00;
	font-family: helvetica, arial, sans-serif;
}

nav a{
	text-transform: none;
	margin-left: 40px;
	color: inherit;
	text-decoration: none;
	padding: 40px;
}
section {
	padding:5em 0;
}
ul {
	list-style-type: none;
}
#intro {
	background:url(../images/cookbook.jpg);
	background-size:cover;
	background-repeat:no-repeat;
	background-position: bottom;
	height: 90vh;
	text-align: right;
}

#who {
	background:url(../images/guyinglasses.jpg);
	background-size:cover;
	background-repeat:no-repeat;
	background-position: bottom;
	height: 90vh;
	text-align: left;
}
#about {
	text-align: center;
}
