body {
	background-color: #FFFAF9;
}
h1 {
	color: #250C00;
	font-family: Helvetica, sans-serrif;
}
p {
	color: #250C00;
}
ul {
text-align: center;
list-style-type: none;
}

img {
width: 100%;

}
footer {
	text-align: center;
}